Repository symfony/ai, pull requests merged in 2025-10, with the labels that each got.

#714 [AI Bundle] Add parsing of model names with colon notation in config
  src/ai-bundle/config/options.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: AI Bundle, Feature, Status: Reviewed

#716 [AI Bundle] Update documentation to use plain string model syntax
  src/ai-bundle/doc/index.rst
Labels: AI Bundle, Status: Needs Review

#715 [AI Bundle][Agent] Add support for prompt as file
  demo/config/packages/ai.yaml
  demo/prompts/stream-chat.txt
  examples/misc/prompt-json-file.php
  examples/misc/prompt-text-file.php
  fixtures/prompts/code-reviewer.json
  fixtures/prompts/helpful-assistant.txt
  src/agent/src/InputProcessor/SystemPromptInputProcessor.php
  src/agent/tests/InputProcessor/SystemPromptInputProcessorTest.php
  src/ai-bundle/config/options.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: Agent, AI Bundle, Feature, Status: Reviewed

#703 [Platform][Gemini] Do tool call if any `contentPart` is a `functionCall`
  examples/vertexai/toolcall.php
  src/platform/src/Bridge/Gemini/Gemini/ResultConverter.php
  src/platform/src/Bridge/VertexAi/Gemini/ResultConverter.php
  src/platform/tests/Bridge/Gemini/Gemini/ResultConverterTest.php
  src/platform/tests/Bridge/VertexAi/Gemini/ResultConverterTest.php
Labels: Bug, Platform, Status: Reviewed

#721 [OpenAI] Add Agent-as-Tool example
  examples/openai/agent-as-tool.php
Labels: Status: Reviewed, Examples

#724 [Store] Do not finalize the classes anymore
  src/store/src/Bridge/ClickHouse/Store.php
  src/store/src/Bridge/Local/InMemoryStore.php
  src/store/src/Bridge/SurrealDb/Store.php
Labels: Store, Status: Reviewed

#709 [Agent] Dispatch more tool call events
  src/agent/doc/index.rst
  src/agent/src/Toolbox/Event/ToolCallFailed.php
  src/agent/src/Toolbox/Event/ToolCallSucceeded.php
  src/agent/src/Toolbox/Toolbox.php
  src/agent/tests/Toolbox/ToolboxEventDispatcherTest.php
Labels: Agent, Status: Needs Review

#269 [Store] Add Redis
  examples/compose.yaml
  examples/rag/redis.php
  src/ai-bundle/config/options.php
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
  src/store/CHANGELOG.md
  src/store/composer.json
  src/store/src/Bridge/Redis/Distance.php
  src/store/src/Bridge/Redis/Store.php
  src/store/tests/Bridge/Redis/StoreTest.php
Labels: Store, Feature, Status: Needs Review

#726 [AI Bundle] Update documentation for indexer
  src/ai-bundle/doc/index.rst
Labels: AI Bundle, Status: Reviewed

#707 [Store] Introduce `EmbeddableDocumentInterface`
  examples/document/vectorizing-text-documents.php
  src/store/src/Document/EmbeddableDocumentInterface.php
  src/store/src/Document/Filter/TextContainsFilter.php
  src/store/src/Document/FilterInterface.php
  src/store/src/Document/Loader/InMemoryLoader.php
  src/store/src/Document/LoaderInterface.php
  src/store/src/Document/TextDocument.php
  src/store/src/Document/Transformer/TextReplaceTransformer.php
  src/store/src/Document/Transformer/TextSplitTransformer.php
  src/store/src/Document/Transformer/TextTrimTransformer.php
  src/store/src/Document/TransformerInterface.php
  src/store/src/Document/Vectorizer.php
  src/store/src/Document/VectorizerInterface.php
  src/store/src/Indexer.php
  src/store/tests/Document/Filter/TextContainsFilterTest.php
  src/store/tests/Document/Loader/InMemoryLoaderTest.php
  src/store/tests/Document/Loader/RssFeedLoaderTest.php
  src/store/tests/Document/Loader/TextFileLoaderTest.php
  src/store/tests/Document/TextDocumentTest.php
  src/store/tests/Document/Transformer/ChainTransformerTest.php
  src/store/tests/Document/Transformer/ChunkDelayTransformerTest.php
  src/store/tests/Document/Transformer/TextReplaceTransformerTest.php
  src/store/tests/Document/Transformer/TextSplitTransformerTest.php
  src/store/tests/Document/Transformer/TextTrimTransformerTest.php
  src/store/tests/Document/VectorizerTest.php
  src/store/tests/IndexerTest.php
Labels: Store, Status: Reviewed

#735 [Platform][Gemini][VertexAI] Handle `inlineData`
  src/platform/src/Bridge/Gemini/Gemini/ResultConverter.php
  src/platform/src/Bridge/VertexAi/Gemini/ResultConverter.php
  src/platform/tests/Bridge/Gemini/Gemini/ResultConverterTest.php
  src/platform/tests/Bridge/VertexAi/Gemini/ResultConverterTest.php
Labels: Bug, Platform, Status: Needs Review

#732 [Store] Unify `Vectorizer` methods into single `vectorize()` method
  examples/document/vectorizing-text-documents.php
  src/store/src/Document/Vectorizer.php
  src/store/src/Document/VectorizerInterface.php
  src/store/src/Indexer.php
  src/store/tests/Document/VectorizerTest.php
Labels: Store, Feature, Status: Needs Review

#740 [Demo] Add stream example command
  demo/src/Blog/Command/StreamCommand.php
  demo/tests/Blog/Command/StreamCommandTest.php
Labels: Demo, Feature, Status: Reviewed

#741 [Platform] Remove Symfony 6.4 compatibility code
  src/platform/src/Bridge/DockerModelRunner/Completions/ResultConverter.php
  src/platform/src/Bridge/Scaleway/Llm/ResultConverter.php
Labels: Platform, Status: Reviewed

#743 [Examples] Adopt asX methods of result for better type support
  examples/aimlapi/chat.php
  examples/aimlapi/image-input-binary.php
  examples/albert/chat.php
  examples/anthropic/chat.php
  examples/anthropic/image-input-binary.php
  examples/anthropic/image-input-url.php
  examples/anthropic/pdf-input-binary.php
  examples/anthropic/pdf-input-url.php
  examples/azure/chat-gpt.php
  examples/azure/chat-llama.php
  examples/bedrock/chat-claude.php
  examples/bedrock/chat-llama.php
  examples/bedrock/chat-nova.php
  examples/bedrock/image-claude-binary.php
  examples/bedrock/image-nova.php
  examples/bootstrap.php
  examples/cerebras/chat.php
  examples/gemini/audio-input.php
  examples/gemini/chat.php
  examples/gemini/image-input.php
  examples/gemini/pdf-input-binary.php
  examples/lmstudio/chat.php
  examples/lmstudio/image-input-binary.php
  examples/mistral/chat-multiple.php
  examples/mistral/chat.php
  examples/mistral/image.php
  examples/mistral/pdf-input-binary.php
  examples/mistral/pdf-input-url.php
  examples/ollama/chat-llama.php
  examples/openai/audio-input.php
  examples/openai/chat-with-string-options.php
  examples/openai/chat.php
  examples/openai/image-input-binary.php
  examples/openai/image-input-url.php
  examples/openai/pdf-input-binary.php
  examples/openrouter/chat-gemini.php
  examples/perplexity/chat.php
  examples/perplexity/disable-search.php
  examples/perplexity/web-search.php
  examples/replicate/chat-llama.php
  examples/scaleway/stream.php
  examples/scaleway/vision.php
  examples/vertexai/audio-input.php
  examples/vertexai/chat.php
  examples/vertexai/image-input.php
  examples/vertexai/pdf-input-binary.php
  examples/vertexai/server-tools.php
Labels: Status: Needs Review, Examples

#742 [AI Bundle] Document all console commands
  src/ai-bundle/doc/index.rst
Labels: AI Bundle, Status: Needs Review

#553 [Platform] Add DeepSeek
  examples/.env
  examples/deepseek/chat.php
  examples/deepseek/reason.php
  examples/deepseek/stream.php
  examples/deepseek/structured-output-clock.php
  examples/deepseek/token-metadata.php
  examples/deepseek/toolcall-stream.php
  examples/deepseek/toolcall.php
  src/ai-bundle/config/services.php
  src/ai-bundle/src/AiBundle.php
  src/platform/src/Bridge/DeepSeek/DeepSeek.php
  src/platform/src/Bridge/DeepSeek/ModelCatalog.php
  src/platform/src/Bridge/DeepSeek/ModelClient.php
  src/platform/src/Bridge/DeepSeek/PlatformFactory.php
  src/platform/src/Bridge/DeepSeek/ResultConverter.php
  src/platform/src/Bridge/DeepSeek/TokenOutputProcessor.php
  src/platform/src/Exception/InvalidRequestException.php
  src/platform/tests/Bridge/DeepSeek/DeepSeekTest.php
  src/platform/tests/Bridge/DeepSeek/ModelCatalogTest.php
  src/platform/tests/Bridge/DeepSeek/ModelClientTest.php
  src/platform/tests/Bridge/DeepSeek/ResultConverterTest.php
Labels: Platform, Feature, Status: Needs Review, Hackathon 2025

#745 [Platform] Rename to `DeferredResult` and explicit contract instead of closure
  examples/bootstrap.php
  src/agent/tests/AgentTest.php
  src/agent/tests/Memory/EmbeddingProviderTest.php
  src/ai-bundle/src/Command/PlatformInvokeCommand.php
  src/ai-bundle/src/Profiler/DataCollector.php
  src/ai-bundle/src/Profiler/TraceablePlatform.php
  src/ai-bundle/tests/Command/PlatformInvokeCommandTest.php
  src/ai-bundle/tests/Profiler/DataCollectorTest.php
  src/platform/src/Platform.php
  src/platform/src/PlatformInterface.php
  src/platform/src/Result/DeferredResult.php
  src/platform/src/Test/InMemoryPlatform.php
  src/platform/src/Test/ModelCatalogTestCase.php
  src/platform/src/Test/PlainConverter.php
  src/platform/tests/Bridge/AiMlApi/ModelCatalogTest.php
  src/platform/tests/Bridge/Albert/ModelCatalogTest.php
  src/platform/tests/Bridge/Anthropic/ModelCatalogTest.php
  src/platform/tests/Bridge/Azure/Meta/ModelCatalogTest.php
  src/platform/tests/Bridge/Azure/OpenAi/ModelCatalogTest.php
  src/platform/tests/Bridge/Bedrock/ModelCatalogTest.php
  src/platform/tests/Bridge/Cerebras/ModelCatalogTest.php
  src/platform/tests/Bridge/DeepSeek/ModelCatalogTest.php
  src/platform/tests/Bridge/DockerModelRunner/ModelCatalogTest.php
  src/platform/tests/Bridge/ElevenLabs/ModelCatalogTest.php
  src/platform/tests/Bridge/Gemini/ModelCatalogTest.php
  src/platform/tests/Bridge/Mistral/ModelCatalogTest.php
  src/platform/tests/Bridge/Ollama/ModelCatalogTest.php
  src/platform/tests/Bridge/OpenAi/ModelCatalogTest.php
  src/platform/tests/Bridge/Perplexity/ModelCatalogTest.php
  src/platform/tests/Bridge/Replicate/ModelCatalogTest.php
  src/platform/tests/Bridge/Scaleway/ModelCatalogTest.php
  src/platform/tests/Bridge/TransformersPhp/ModelCatalogTest.php
  src/platform/tests/Bridge/VertexAi/ModelCatalogTest.php
  src/platform/tests/Bridge/Voyage/ModelCatalogTest.php
  src/platform/tests/InMemoryPlatformTest.php
  src/platform/tests/Result/DeferredResultTest.php
  src/store/tests/Document/VectorizerTest.php
Labels: Platform, Status: Reviewed, BC Break

#746 [AI Bundle][Postgres] Add `dbal_connection` configuration
  src/ai-bundle/config/options.php
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: AI Bundle, Status: Reviewed

#747 [Agent][Chat] Add more unit tests
  src/agent/tests/InputTest.php
  src/agent/tests/OutputTest.php
  src/chat/tests/Bridge/HttpFoundation/SessionStoreTest.php
  src/chat/tests/Bridge/Local/CacheStoreTest.php
  src/chat/tests/Bridge/Local/InMemoryStoreTest.php
Labels: Agent, Status: Needs Review, Chat

#748 Move RST documentation to `/docs`
  .github/workflows/doctor-rst.yaml
  docs/bundles/ai-bundle.rst
  docs/bundles/mcp-bundle.rst
  docs/components/agent.rst
  docs/components/chat.rst
  docs/components/platform.rst
  docs/components/platform/gemini-server-tools.rst
  docs/components/platform/vertexai-server-tools.rst
  docs/components/platform/vertexai.rst
  docs/components/store.rst
Labels: Status: Needs Review

#734 [AI Bundle][Chat] Add lifecycle commands
  .github/workflows/integration-tests.yaml
  docs/components/chat.rst
  examples/commands/message-stores.php
  src/ai-bundle/composer.json
  src/ai-bundle/config/options.php
  src/ai-bundle/config/services.php
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
  src/chat/composer.json
  src/chat/phpstan.dist.neon
  src/chat/src/Bridge/Local/InMemoryStore.php
  src/chat/src/Command/DropStoreCommand.php
  src/chat/src/Command/SetupStoreCommand.php
  src/chat/src/Exception/ExceptionInterface.php
  src/chat/src/Exception/RuntimeException.php
  src/chat/tests/Command/DropStoreCommandTest.php
  src/chat/tests/Command/SetupStoreCommandTest.php
Labels: AI Bundle, Feature, Status: Reviewed, Chat

#752 Fix documentation errors
  docs/components/agent.rst
  docs/components/platform/gemini-server-tools.rst
  docs/components/platform/vertexai-server-tools.rst
  docs/components/store.rst
Labels: Status: Needs Review

#751 [Docs] Improve the overall documentation
  docs/bundles/ai-bundle.rst
  docs/components/agent.rst
  docs/components/chat.rst
  docs/components/platform.rst
  docs/components/platform/gemini-server-tools.rst
  docs/components/platform/vertexai-server-tools.rst
  docs/components/platform/vertexai.rst
  docs/components/store.rst
Labels: Status: Needs Review
