Repository symfony/ai, pull requests merged in 2025-09, with the labels that each got.

#393 [Examples] Improve mongodb
  examples/.env
  examples/compose.yaml
  examples/composer.json
Labels: Bug, Feature, Status: Needs Review

#389 [Examples][ClickHouse] Add RAG example
  examples/.env
  examples/rag/clickhouse.php
Labels: Examples, Status: Needs Review

#399 [Platform][Store] Refactor short-circuit evaluation to classic if statements
  src/platform/src/Bridge/Albert/PlatformFactory.php
  src/platform/src/Bridge/Azure/OpenAi/EmbeddingsModelClient.php
  src/platform/src/Bridge/Azure/OpenAi/GptModelClient.php
  src/platform/src/Bridge/Azure/OpenAi/WhisperModelClient.php
  src/platform/src/Bridge/OpenAi/DallE/Base64Image.php
  src/platform/src/Bridge/OpenAi/DallE/ModelClient.php
  src/platform/src/Bridge/OpenAi/DallE/UrlImage.php
  src/platform/src/Bridge/OpenAi/Embeddings/ModelClient.php
  src/platform/src/Bridge/OpenAi/Gpt/ModelClient.php
  src/platform/src/Bridge/OpenAi/Whisper/ModelClient.php
  src/platform/src/Bridge/OpenRouter/ModelClient.php
  src/platform/src/Bridge/Replicate/LlamaModelClient.php
  src/platform/src/Contract/JsonSchema/Attribute/With.php
  src/store/src/Document/TextDocument.php
Labels: Platform, Store, Status: Needs Review

#403 [Platform] Remove blank lines in CHANGELOG
  src/platform/CHANGELOG.md
Labels: Platform, Status: Reviewed

#408 [Platform][Gemini][Embeddings] Remove comments for dimensions
  src/platform/src/Bridge/Gemini/Embeddings.php
Labels: Platform, Status: Needs Review

#352 [AI Bundle][Agent] Add `#[AsInputProcessor]` and `#[AsOutputProcessor]`
  src/agent/src/Attribute/AsInputProcessor.php
  src/agent/src/Attribute/AsOutputProcessor.php
  src/ai-bundle/config/services.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/src/DependencyInjection/ProcessorCompilerPass.php
  src/ai-bundle/tests/DependencyInjection/ProcessorCompilerPassTest.php
Labels: Agent, AI Bundle, Feature, Status: Reviewed

#406 [AI Bundle] Remove unnecessary `normalizeKeys(false)` from `options.php`
  src/ai-bundle/config/options.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: Bug, AI Bundle, Status: Reviewed

#412 [Agent][Demo][Platform] Replace `self::assert*` with `$this->assert*` in test files
  demo/tests/SmokeTest.php
  src/agent/tests/Toolbox/MetadataFactory/ReflectionFactoryTest.php
  src/platform/tests/Bridge/VertexAi/Gemini/ModelClientTest.php
  src/platform/tests/Message/AssistantMessageTest.php
  src/platform/tests/Message/SystemMessageTest.php
  src/platform/tests/Message/ToolCallMessageTest.php
  src/platform/tests/Message/UserMessageTest.php
Labels: Platform, Agent, Demo, Status: Reviewed

#395 [AI Bundle] Add chat console command for interactive AI agent conversations
  src/ai-bundle/composer.json
  src/ai-bundle/config/services.php
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/src/Command/ChatCommand.php
  src/ai-bundle/src/Exception/RuntimeException.php
  src/ai-bundle/tests/Command/ChatCommandTest.php
Labels: AI Bundle, Feature, Status: Reviewed

#415 [AI Bundle] Improve `ChatCommand`
  src/ai-bundle/src/Command/ChatCommand.php
Labels: AI Bundle, Status: Reviewed

#414 [Examples] Add and use `print_vectors()` function
  examples/azure/embeddings.php
  examples/bootstrap.php
  examples/gemini/embeddings.php
  examples/huggingface/feature-extraction.php
  examples/misc/parallel-embeddings.php
  examples/mistral/embeddings.php
  examples/openai/embeddings.php
  examples/vertexai/embeddings.php
  examples/voyage/embeddings.php
Labels: Examples, Status: Needs Review

#432 Add `CLAUDE.md` file
  CLAUDE.md
Labels: Status: Needs Review

#438 [Store] Add comprehensive unit tests for `Vectorizer`
  src/store/tests/Document/VectorizerTest.php
Labels: Store, Status: Needs Review

#443 [Store] Add missing store keywords to `composer.json`
  src/store/composer.json
Labels: Store, Status: Needs Review

#442 [Store] Add comprehensive unit tests for `ChunkDelayTransformer`
  src/store/tests/Document/Transformer/ChunkDelayTransformerTest.php
Labels: Store, Status: Needs Review

#454 [Platform][Bedrock] Add tests for result converters
  src/platform/tests/Bridge/Bedrock/Anthropic/ClaudeResultConverterTest.php
  src/platform/tests/Bridge/Bedrock/Meta/LlamaResultConverterTest.php
  src/platform/tests/Bridge/Bedrock/Nova/NovaResultConverterTest.php
Labels: Platform, Status: Needs Review

#455 [Platform][HuggingFace] Add tests for normalizers
  src/platform/tests/Bridge/HuggingFace/Contract/FileNormalizerTest.php
  src/platform/tests/Bridge/HuggingFace/Contract/MessageBagNormalizerTest.php
  src/platform/tests/fixtures/audio.mp3
  src/platform/tests/fixtures/document.pdf
  src/platform/tests/fixtures/image.jpg
Labels: Platform, Status: Needs Review

#458 [Store] Fix Weaviate handling during drop
  src/store/src/Bridge/Weaviate/Store.php
Labels: Bug, Store, Status: Reviewed

#453 [Platform][HuggingFace] Add tests for Bridge components
  src/platform/tests/Bridge/HuggingFace/ApiClientTest.php
  src/platform/tests/Bridge/HuggingFace/PlatformFactoryTest.php
  src/platform/tests/Bridge/HuggingFace/ResultConverterTest.php
Labels: Bug, Platform, Status: Needs Review

#459 Run `composer normalize`
  demo/composer.json
  examples/composer.json
  src/agent/composer.json
  src/ai-bundle/composer.json
  src/platform/composer.json
  src/store/composer.json
Labels: Status: Needs Review

#461 Ignore `CLAUDE.md` to `.gitattributes` files
  src/agent/.gitattributes
  src/ai-bundle/.gitattributes
  src/mcp-bundle/.gitattributes
  src/platform/.gitattributes
  src/store/.gitattributes
Labels: Status: Needs Review

#421 [Platform][Gemini] Fix choice conversion logic for `executableCode` and `codeExecutionResult`
  fixtures/Bridge/Gemini/code_execution_outcome_deadline_exceeded.json
  fixtures/Bridge/Gemini/code_execution_outcome_failed.json
  fixtures/Bridge/Gemini/code_execution_outcome_ok.json
  src/platform/src/Bridge/Gemini/Gemini/ResultConverter.php
  src/platform/tests/Bridge/Gemini/CodeExecution/ResultConverterTest.php
Labels: Bug, Platform, Status: Reviewed

#466 [Platform][VertexAI] Update `ResultConverter`
  fixtures/Bridge/VertexAi/code_execution_outcome_deadline_exceeded.json
  fixtures/Bridge/VertexAi/code_execution_outcome_failed.json
  fixtures/Bridge/VertexAi/code_execution_outcome_ok.json
  src/platform/src/Bridge/VertexAi/Gemini/ResultConverter.php
  src/platform/tests/Bridge/VertexAi/Gemini/ResultConverterTest.php
Labels: Bug, Platform, Status: Needs Review

#469 [Store] Move class comment from `Vectorizer` to `VectorizerInterface`
  src/store/src/Document/Vectorizer.php
  src/store/src/Document/VectorizerInterface.php
Labels: Store, Status: Needs Review

#471 [Store] Remove duplicate class comment from `Indexer`
  src/store/src/Indexer.php
Labels: Store, Status: Needs Review

#474 [Store][Qdrant] Allow setting filters on a query
  src/store/src/Bridge/Qdrant/Store.php
  src/store/tests/Bridge/Qdrant/StoreTest.php
Labels: Store, Feature, Status: Reviewed

#476 [Store] Rename `__invoke` methods in interfaces to descriptive names
  src/store/src/Document/Loader/TextFileLoader.php
  src/store/src/Document/LoaderInterface.php
  src/store/src/Document/Transformer/ChainTransformer.php
  src/store/src/Document/Transformer/ChunkDelayTransformer.php
  src/store/src/Document/Transformer/TextSplitTransformer.php
  src/store/src/Document/TransformerInterface.php
  src/store/src/Document/Vectorizer.php
  src/store/src/Document/VectorizerInterface.php
  src/store/src/Indexer.php
  src/store/tests/Document/Loader/TextFileLoaderTest.php
  src/store/tests/Document/Transformer/ChainTransformerTest.php
  src/store/tests/Document/Transformer/ChunkDelayTransformerTest.php
  src/store/tests/Document/Transformer/TextSplitTransformerTest.php
  src/store/tests/Document/VectorizerTest.php
Labels: Store, Feature, Status: Reviewed, BC Break

#485 [Store] Add documentation to `InMemoryLoader` class
  src/store/src/Document/Loader/InMemoryLoader.php
Labels: Status: Needs Review

#491 [Demo] Convert blog commands to invokable commands
  demo/src/Blog/Command/EmbedCommand.php
  demo/src/Blog/Command/QueryCommand.php
Labels: Demo, Feature, Status: Needs Review

#507 [Platform][Replicate] Add tests
  src/platform/tests/Bridge/Replicate/ClientTest.php
  src/platform/tests/Bridge/Replicate/Contract/LlamaMessageBagNormalizerTest.php
  src/platform/tests/Bridge/Replicate/LlamaModelClientTest.php
  src/platform/tests/Bridge/Replicate/LlamaResultConverterTest.php
Labels: Platform, Status: Needs Review

#508 [Platform][Mistral] Add support for Voxtral models with audio input and tool-calling
  src/platform/src/Bridge/Mistral/Mistral.php
Labels: Status: Needs Review

#502 [Agent] Add `MockAgent` for testing purposes
  demo/tests/Blog/ChatTest.php
  src/agent/doc/index.rst
  src/agent/src/Exception/OutOfBoundsException.php
  src/agent/src/MockAgent.php
  src/agent/src/MockResponse.php
  src/agent/tests/MockAgentTest.php
  src/agent/tests/MockResponseTest.php
Labels: Agent, Feature, Status: Needs Review

#576 [AI Bundle] Restructure `system_prompt` configuration to nest `include_tools`
  demo/config/packages/ai.yaml
  src/ai-bundle/config/options.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: AI Bundle, Feature, Status: Needs Review, BC Break

#579 [AI Bundle] Rename `system_prompt` to `prompt` and `prompt` key to `text`
  demo/config/packages/ai.yaml
  src/ai-bundle/config/options.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: AI Bundle, Feature, Status: Needs Review, BC Break

#538 [Platform] Implement `RateLimitExceededException` handling across AI platforms
  src/platform/src/Bridge/Anthropic/ResultConverter.php
  src/platform/src/Bridge/Gemini/Gemini/ResultConverter.php
  src/platform/src/Bridge/OpenAi/Gpt/ResultConverter.php
  src/platform/src/Exception/RateLimitExceededException.php
  src/platform/tests/Bridge/Anthropic/ResultConverterRateLimitTest.php
  src/platform/tests/Bridge/Gemini/Gemini/ResultConverterRateLimitTest.php
  src/platform/tests/Bridge/OpenAi/Gpt/ResultConverterRateLimitTest.php
Labels: Platform, Status: Reviewed, Hackathon 2025

#581 [Agent] Reorder memory and system prompt
  src/agent/src/Memory/MemoryInputProcessor.php
  src/agent/tests/Memory/MemoryInputProcessorTest.php
Labels: Agent, Feature, Status: Needs Review

#582 [AI Bundle] Correct exception message to mention both `text` and `include_tools`
  src/ai-bundle/config/options.php
Labels: Bug, AI Bundle, Status: Needs Review

#584 [Agent] Rename `MemoryProviderInterface::loadMemory` to `load`
  src/agent/src/Memory/EmbeddingProvider.php
  src/agent/src/Memory/MemoryInputProcessor.php
  src/agent/src/Memory/MemoryProviderInterface.php
  src/agent/src/Memory/StaticMemoryProvider.php
  src/agent/tests/Memory/EmbeddingProviderTest.php
  src/agent/tests/Memory/MemoryInputProcessorTest.php
  src/agent/tests/Memory/StaticMemoryProviderTest.php
Labels: Agent, Feature, Status: Needs Review, BC Break

#583 [AI Bundle] Add memory provider configuration support
  src/ai-bundle/CHANGELOG.md
  src/ai-bundle/config/options.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: AI Bundle, Feature, Status: Needs Review

#590 [Platform] Update codewithkyrian/transformers requirement to ^0.6.2
  examples/composer.json
  src/platform/composer.json
Labels: Platform, Feature, Status: Needs Review

#593 [Demo] Removing outdated secrets from workshop in Vienna
  demo/config/secrets/dev/dev.OPENAI_API_KEY.66949e.php
  demo/config/secrets/dev/dev.encrypt.public.php
  demo/config/secrets/dev/dev.list.php
Labels: Demo, Status: Needs Review

#594 [AI Bundle] Move model class validation to configuration layer
  src/ai-bundle/config/options.php
  src/ai-bundle/src/AiBundle.php
Labels: AI Bundle, Feature, Status: Reviewed

#595 [AI Bundle] Simplify memory configuration structure
  src/ai-bundle/config/options.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: AI Bundle, Feature, Status: Needs Review

#598 [Platform][AI/ML API] Add bridge
  examples/.env
  examples/aimlapi/chat.php
  examples/aimlapi/image-input-binary.php
  src/platform/CHANGELOG.md
  src/platform/src/Bridge/AiMlApi/Completions.php
  src/platform/src/Bridge/AiMlApi/Completions/ModelClient.php
  src/platform/src/Bridge/AiMlApi/Completions/ResultConverter.php
  src/platform/src/Bridge/AiMlApi/Embeddings.php
  src/platform/src/Bridge/AiMlApi/Embeddings/ModelClient.php
  src/platform/src/Bridge/AiMlApi/Embeddings/ResultConverter.php
  src/platform/src/Bridge/AiMlApi/PlatformFactory.php
  src/platform/tests/Bridge/AiMlApi/Completions/ModelClientTest.php
  src/platform/tests/Bridge/AiMlApi/Completions/ResultConverterTest.php
  src/platform/tests/Bridge/AiMlApi/Embeddings/ModelClientTest.php
  src/platform/tests/Bridge/AiMlApi/Embeddings/ResultConverterTest.php
Labels: Platform, Feature, Status: Reviewed

#599 [AI Bundle] Update documentation for translatable system prompts
  src/ai-bundle/doc/index.rst
Labels: AI Bundle, Status: Needs Review

#603 [Demo] Remove commented Anthropic platform configuration from config
  demo/config/packages/ai.yaml
Labels: Demo, Status: Needs Review

#605 [AI Bundle][Ollama] Fix duplicate `setFactory` call for platform
  src/ai-bundle/src/AiBundle.php
Labels: Bug, AI Bundle, Status: Reviewed

#604 [AI Bundle] Add configurable HTTP client support for platforms
  src/ai-bundle/config/options.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/src/AiBundle.php
Labels: AI Bundle, Feature, Status: Reviewed

#607 [Examples] Consistency about Ollama model config via env, and wrap up docs
  examples/.env
  examples/ollama/README.md
  examples/ollama/chat-llama.php
  examples/ollama/embeddings.php
  examples/ollama/indexer.php
  examples/ollama/rag.php
  examples/ollama/stream.php
  examples/ollama/structured-output-math.php
  examples/ollama/toolcall.php
Labels: Status: Needs Review, Examples

#515 [Platform] Add Docker Model Runner
  examples/.env
  examples/dockermodelrunner/chat.php
  examples/dockermodelrunner/embeddings.php
  examples/dockermodelrunner/toolcall.php
  src/ai-bundle/config/options.php
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
  src/platform/CHANGELOG.md
  src/platform/src/Bridge/DockerModelRunner/Completions.php
  src/platform/src/Bridge/DockerModelRunner/Completions/ModelClient.php
  src/platform/src/Bridge/DockerModelRunner/Completions/ResultConverter.php
  src/platform/src/Bridge/DockerModelRunner/Embeddings.php
  src/platform/src/Bridge/DockerModelRunner/Embeddings/ModelClient.php
  src/platform/src/Bridge/DockerModelRunner/Embeddings/ResultConverter.php
  src/platform/src/Bridge/DockerModelRunner/PlatformFactory.php
  src/platform/src/Exception/ExceedContextSizeException.php
  src/platform/tests/Bridge/DockerModelRunner/Completions/ModelClientTest.php
  src/platform/tests/Bridge/DockerModelRunner/Completions/ResultConverterTest.php
  src/platform/tests/Bridge/DockerModelRunner/Embeddings/ModelClientTest.php
  src/platform/tests/Bridge/DockerModelRunner/Embeddings/ResultConverterTest.php
Labels: Platform, Feature, Status: Reviewed, Hackathon 2025

#611 [Demo] Fix tests
  .github/workflows/integration-tests.yaml
  demo/src/Blog/FeedLoader.php
  demo/tests/Blog/FeedLoaderTest.php
  demo/tests/Blog/LoaderTest.php
  demo/tests/Blog/fixtures/blog.rss
  demo/tests/SmokeTest.php
  demo/tests/fixtures/symfony-blog.rss
Labels: Bug, Status: Needs Review

#612 [Demo] Fix workflow working dirs
  .github/workflows/integration-tests.yaml
Labels: Demo, Status: Needs Review

#613 [Demo][CI] Use `ramsey/composer-install`
  .github/workflows/integration-tests.yaml
Labels: Demo, Status: Needs Review

#618 [Demo] Fix CS
  demo/src/Blog/FeedLoader.php
Labels: Demo, Status: Needs Review

#571 [Demo][Store] Add `RssFeedLoader`
  demo/config/packages/ai.yaml
  demo/src/Blog/FeedLoader.php
  demo/tests/Blog/FeedLoaderTest.php
  demo/tests/fixtures/symfony-blog.rss
  examples/indexer/index-rss-loader.php
  src/store/composer.json
  src/store/src/Document/Loader/Rss/RssItem.php
  src/store/src/Document/Loader/RssFeedLoader.php
  src/store/tests/Document/Loader/RssFeedLoaderTest.php
  src/store/tests/fixtures/symfony-blog.rss
Labels: Store, Demo, Feature, Status: Needs Review, Hackathon 2025

#620 [Demo] Leverage `Vectorizer` in `QueryCommand`
  demo/src/Blog/Command/QueryCommand.php
Labels: Demo, Status: Reviewed

#622 [Examples] Add `minimum-stability` `dev` to `composer.json`
  examples/composer.json
Labels: Status: Needs Review, Examples

#623 Normalize `composer.json` files
  composer.json
  examples/composer.json
  src/mcp-bundle/composer.json
  src/mcp-sdk/composer.json
  src/mcp-sdk/examples/cli/composer.json
Labels: Status: Needs Review

#277 Drop Symfony 6.4 support, require ^7.3|^8.0
  .github/workflows/integration-tests.yaml
  .github/workflows/unit-tests.yaml
  composer.json
  examples/commands/stores.php
  examples/composer.json
  src/agent/composer.json
  src/agent/tests/Toolbox/Tool/BraveTest.php
  src/agent/tests/Toolbox/Tool/FirecrawlTest.php
  src/agent/tests/Toolbox/Tool/MapboxTest.php
  src/agent/tests/Toolbox/Tool/OpenMeteoTest.php
  src/agent/tests/Toolbox/Tool/WikipediaTest.php
  src/ai-bundle/composer.json
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/Command/ChatCommandTest.php
  src/mcp-bundle/composer.json
  src/mcp-sdk/composer.json
  src/mcp-sdk/examples/cli/composer.json
  src/platform/composer.json
  src/platform/src/Bridge/Anthropic/ResultConverter.php
  src/platform/src/Bridge/Mistral/Llm/ResultConverter.php
  src/platform/src/Bridge/OpenAi/Gpt/ResultConverter.php
  src/platform/src/Bridge/Perplexity/ResultConverter.php
  src/store/composer.json
  src/store/tests/Document/Loader/RssFeedLoaderTest.php
Labels: Feature, Status: Needs Review

#627 [CI] Fix demo
  .github/workflows/integration-tests.yaml
Labels: Status: Needs Review

#631 [Platform][DockerModelRunner] Add tests for `ModelNotFoundException`
  src/platform/tests/Bridge/DockerModelRunner/Completions/ResultConverterTest.php
  src/platform/tests/Bridge/DockerModelRunner/Embeddings/ResultConverterTest.php
Labels: Platform, Status: Needs Review

#632 Remove redundant `vectorFieldName` parameter from MariaDB example
  examples/memory/mariadb.php
Labels: Status: Needs Review

#633 Update PHPUnit testsuite names to use package names
  src/agent/phpunit.xml.dist
  src/ai-bundle/phpunit.xml.dist
  src/mcp-bundle/phpunit.xml.dist
  src/mcp-sdk/phpunit.xml.dist
  src/platform/phpunit.xml.dist
  src/store/phpunit.xml.dist
Labels: Status: Needs Review

#638 [Agent] Support setting timezone on clock tool
  src/agent/src/Toolbox/Tool/Clock.php
  src/agent/tests/Toolbox/Tool/ClockTest.php
Labels: Agent, Feature, Status: Needs Review

#639 [Agent] Use named arguments for exception previous parameter
  src/platform/src/Bridge/Gemini/Gemini/ResultConverter.php
  src/platform/src/Bridge/VertexAi/Gemini/ResultConverter.php
Labels: Agent, Status: Needs Review

#645 [AI Bundle] Remove PHPStan ignore in AiBundle
  src/ai-bundle/src/AiBundle.php
Labels: AI Bundle, Status: Needs Review

#662 [PHPStan] Add rule to forbid test coverage attributes
  .phpstan/ForbidTestCoverageAttributesRule.php
  .phpstan/extension.neon
  src/mcp-sdk/tests/Message/ErrorTest.php
  src/mcp-sdk/tests/Message/FactoryTest.php
  src/mcp-sdk/tests/Message/ResponseTest.php
  src/mcp-sdk/tests/Server/JsonRpcHandlerTest.php
  src/mcp-sdk/tests/Server/RequestHandler/PromptListHandlerTest.php
  src/mcp-sdk/tests/Server/RequestHandler/ResourceListHandlerTest.php
  src/mcp-sdk/tests/Server/RequestHandler/ToolListHandlerTest.php
  src/mcp-sdk/tests/ServerTest.php
  src/platform/tests/Bridge/OpenAi/DallE/Base64ImageTest.php
  src/platform/tests/Bridge/OpenAi/DallE/ImageResultTest.php
  src/platform/tests/Bridge/OpenAi/DallE/ResultConverterTest.php
Labels: Status: Needs Review

#663 [PHPStan] Add rule to forbid empty() usage and replace all existing empty() calls
  .phpstan/ForbidEmptyRule.php
  .phpstan/extension.neon
  src/agent/src/MockAgent.php
  src/agent/src/StructuredOutput/AgentProcessor.php
  src/platform/src/Bridge/Anthropic/ModelClient.php
Labels: Status: Needs Review

#667 [Platform] Revert change in Anthropic breaking easy model usage
  src/platform/src/Bridge/Anthropic/Claude.php
Labels: Bug, Platform, Status: Needs Review

#668 [Platform][Anthropic] Modify Claude constructor `max_tokens` handling
  src/platform/src/Bridge/Anthropic/Claude.php
  src/platform/tests/Bridge/Anthropic/ClaudeTest.php
Labels: Platform, Feature, Status: Needs Review

#669 [Platform][Ollama] Better regex for qwen tool pattern
  src/platform/src/Bridge/Ollama/Ollama.php
  src/platform/tests/Bridge/Ollama/OllamaTest.php
Labels: Platform, Feature, Status: Needs Review

#670 [MCP Bundle] Fix STDIO command to listen
  src/mcp-bundle/src/Command/McpCommand.php
Labels: Bug, MCP Bundle, Status: Needs Review

#671 [Demo] Extend demo readme for MCP example testing
  demo/README.md
Labels: Demo, Status: Needs Review

#677 Refactor examples to use `print_stream` helper function
  examples/anthropic/stream.php
  examples/bootstrap.php
  examples/cerebras/stream.php
  examples/gemini/stream.php
  examples/mistral/stream.php
  examples/ollama/stream.php
  examples/openai/stream.php
  examples/vertexai/stream.php
Labels: Feature, Status: Needs Review

#635 [Agent] Allow translatable prompts in `SystemPromptInputProcessor`
  src/agent/composer.json
  src/agent/src/InputProcessor/SystemPromptInputProcessor.php
  src/agent/tests/InputProcessor/SystemPromptInputProcessorTest.php
  src/ai-bundle/composer.json
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: Agent, Feature, Status: Reviewed

#682 [Agent] Remove tool calling capability validation from `AgentProcessor`
  src/agent/src/Toolbox/AgentProcessor.php
  src/agent/tests/Toolbox/AgentProcessorTest.php
Labels: Bug, Agent, Status: Reviewed

#687 [Platform][Bedrock] Use dedicated model class
  examples/bedrock/chat-claude.php
  examples/bedrock/image-claude-binary.php
  examples/bedrock/toolcall-claude.php
  src/platform/src/Bridge/Bedrock/Anthropic/Claude.php
  src/platform/src/Bridge/Bedrock/Anthropic/ClaudeModelClient.php
  src/platform/src/Bridge/Bedrock/Anthropic/ClaudeResultConverter.php
  src/platform/tests/Bridge/Bedrock/Anthropic/ClaudeResultConverterTest.php
  src/platform/tests/Bridge/Bedrock/Anthropic/ClaudeTest.php
Labels: Platform, Feature, Status: Needs Review

#686 [Platform][ElevenLabs] Fix option handling
  src/platform/src/Bridge/ElevenLabs/ElevenLabsClient.php
  src/platform/tests/Bridge/ElevenLabs/ElevenLabsClientTest.php
Labels: Bug, Platform, Status: Needs Review

#685 Improve example output, mostly for errors
  examples/bootstrap.php
  examples/runner
Labels: Feature, Status: Reviewed, Examples

#690 [Platform] ``#[\SensitiveParameter]` attribute on one line with parameter
  src/platform/src/Bridge/Azure/Meta/PlatformFactory.php
  src/platform/src/Bridge/Mistral/PlatformFactory.php
Labels: Platform, Status: Needs Review

#691 [Platform][OpenAI] Improve error reporting for Bad Request
  src/platform/src/Bridge/OpenAi/Gpt/ResultConverter.php
  src/platform/src/Exception/BadRequestException.php
  src/platform/tests/Bridge/OpenAi/Gpt/ResultConverterTest.php
Labels: Bug, Platform, Status: Reviewed

#696 [AI Bundle] Fix service registration
  .github/workflows/integration-tests.yaml
  src/ai-bundle/config/services.php
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
  src/platform/src/Bridge/Cerebras/PlatformFactory.php
  src/platform/src/Bridge/Voyage/PlatformFactory.php
Labels: Bug, AI Bundle, Status: Needs Review

#697 [MCP Bundle] Fix bundle config
  .github/workflows/integration-tests.yaml
  src/mcp-bundle/config/services.php
Labels: Bug, MCP Bundle, Status: Reviewed

#698 [AI Bundle] Fix service id
  src/ai-bundle/src/AiBundle.php
Labels: Bug, AI Bundle, Status: Reviewed

#608 [Platform][Gemini+OpenAI] Show error details to simplify localization of the cause
  src/platform/src/Bridge/Gemini/Gemini/ResultConverter.php
  src/platform/src/Bridge/OpenAi/Gpt/ResultConverter.php
Labels: Bug, Platform, Status: Needs Review

#702 [Platform] Add error handling tests
  src/platform/tests/Bridge/Gemini/Gemini/ResultConverterTest.php
  src/platform/tests/Bridge/OpenAi/Gpt/ResultConverterTest.php
Labels: Platform, Status: Needs Review

#706 [Platform] Fix integer options
  examples/openai/chat-with-string-options.php
  src/platform/src/ModelCatalog/AbstractModelCatalog.php
  src/platform/tests/DynamicModelCatalogTest.php
  src/platform/tests/ModelCatalog/AbstractModelCatalogTest.php
Labels: Bug, Status: Needs Review
