Repository symfony/ai, pull requests merged in 2025-07, with the labels that each got.

#94 [AiBundle][McpBundle] Upgrade bundle structure
  src/ai-bundle/config/options.php
  src/ai-bundle/config/services.php
  src/ai-bundle/phpstan.dist.neon
  src/ai-bundle/src/AIBundle.php
  src/ai-bundle/src/DependencyInjection/AIExtension.php
  src/ai-bundle/src/DependencyInjection/Configuration.php
  src/ai-bundle/templates/data_collector.html.twig
  src/ai-bundle/templates/icon.svg
  src/mcp-bundle/config/options.php
  src/mcp-bundle/config/routes.php
  src/mcp-bundle/config/services.php
  src/mcp-bundle/phpstan.dist.neon
  src/mcp-bundle/src/DependencyInjection/Configuration.php
  src/mcp-bundle/src/DependencyInjection/McpExtension.php
  src/mcp-bundle/src/McpBundle.php
Labels: AI Bundle, MCP Bundle

#99 fix: Gemini multiple tools
  src/platform/src/Bridge/Google/Contract/ToolNormalizer.php
  src/platform/src/Bridge/Google/ModelHandler.php
  src/platform/tests/Bridge/Google/Contract/ToolNormalizerTest.php
Labels: Bug, Platform

#112 [Examples] add hint for using link tool with examples
  examples/README.md
Labels: Documentation, Examples

#101 fix: Allow array arguments in `model.options`
  src/ai-bundle/config/options.php
  src/ai-bundle/tests/AIBundleTest.php
Labels: Bug, AI Bundle

#113 refactor: replace composer suggests with runtime checks
  src/agent/composer.json
  src/agent/src/Chat/MessageStore/CacheStore.php
  src/agent/src/Chat/MessageStore/SessionStore.php
  src/agent/src/Toolbox/Tool/Crawler.php
  src/agent/src/Toolbox/Tool/YouTubeTranscriber.php
  src/platform/composer.json
  src/platform/src/Bridge/Bedrock/PlatformFactory.php
  src/platform/src/Bridge/TransformersPHP/PlatformFactory.php
  src/store/composer.json
  src/store/src/Bridge/ChromaDB/Store.php
  src/store/src/Bridge/MariaDB/Store.php
  src/store/src/Bridge/MongoDB/Store.php
  src/store/src/Bridge/Pinecone/Store.php
Labels: Platform, Agent, Store

#105 [Store] Add Meilisearch
  examples/.env
  examples/compose.yaml
  examples/store/meilisearch-similarity-search.php
  src/store/doc/index.rst
  src/store/src/Bridge/Meilisearch/Store.php
  src/store/tests/Bridge/Meilisearch/StoreTest.php
Labels: Store, Status: Needs Work

#102 [AIBundle] Add `#[IsGrantedTool]` for tool access control
  src/ai-bundle/composer.json
  src/ai-bundle/config/services.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/phpstan.dist.neon
  src/ai-bundle/src/Security/Attribute/IsGrantedTool.php
  src/ai-bundle/src/Security/EventListener/IsGrantedToolAttributeListener.php
  src/ai-bundle/tests/Fixture/Tool/ToolWithIsGrantedOnClass.php
  src/ai-bundle/tests/Fixture/Tool/ToolWithIsGrantedOnMethod.php
  src/ai-bundle/tests/Security/IsGrantedToolAttributeListenerTest.php
Labels: AI Bundle, Feature, Status: Needs Work

#121 [Platform] Use intersection type `AbstractUid&TimeBasedUidInterface` for flexible message IDs
  src/platform/src/Message/AssistantMessage.php
  src/platform/src/Message/MessageInterface.php
  src/platform/src/Message/SystemMessage.php
  src/platform/src/Message/ToolCallMessage.php
  src/platform/src/Message/UserMessage.php
  src/platform/tests/ContractTest.php
  src/platform/tests/Message/AssistantMessageTest.php
  src/platform/tests/Message/SystemMessageTest.php
  src/platform/tests/Message/ToolCallMessageTest.php
  src/platform/tests/Message/UserMessageTest.php
Labels: Platform

#120 [Agent] Use PHPStan error identifier instead of regex pattern
  src/agent/phpstan.dist.neon
Labels: Agent

#86 [AI Store] Remove `webmozart/assert` library
  src/platform/composer.json
  src/platform/src/Bridge/Azure/OpenAI/EmbeddingsModelClient.php
  src/platform/src/Bridge/Azure/OpenAI/GPTModelClient.php
  src/platform/src/Bridge/Azure/OpenAI/WhisperModelClient.php
  src/platform/src/Bridge/OpenAI/DallE/Base64Image.php
  src/platform/src/Bridge/OpenAI/DallE/ModelClient.php
  src/platform/src/Bridge/OpenAI/DallE/UrlImage.php
  src/platform/src/Bridge/OpenAI/Embeddings/ModelClient.php
  src/platform/src/Bridge/OpenAI/GPT/ModelClient.php
  src/platform/src/Bridge/OpenAI/Whisper/ModelClient.php
  src/platform/src/Bridge/OpenRouter/Client.php
  src/platform/src/Bridge/Replicate/LlamaModelClient.php
  src/platform/src/Contract/JsonSchema/Attribute/With.php
  src/platform/tests/Bridge/Azure/OpenAI/EmbeddingsModelClientTest.php
  src/platform/tests/Bridge/Azure/OpenAI/GPTModelClientTest.php
  src/platform/tests/Bridge/Azure/OpenAI/WhisperModelClientTest.php
  src/platform/tests/Bridge/OpenAI/DallE/ModelClientTest.php
  src/platform/tests/Contract/JsonSchema/Attribute/ToolParameterTest.php
  src/store/composer.json
  src/store/src/Document/TextDocument.php
Labels: Store

#88 [AiBundle] Use model FQCN for indexer config, to allow any `Symfony\AI\Platform\Model` child class
  demo/config/packages/ai.yaml
  src/ai-bundle/config/options.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/src/AIBundle.php
  src/ai-bundle/tests/DependencyInjection/AIBundleTest.php
Labels: Bug, AI Bundle, Status: Needs Review, BC Break

#129 [Platform] Add missing Anthropic models
  src/platform/src/Bridge/Anthropic/Claude.php
Labels: BC Break

#122 [Platform] Add `TokenOutputProcessor` for `Mistral`
  src/platform/src/Bridge/Mistral/TokenOutputProcessor.php
  src/platform/tests/Bridge/Mistral/TokenOutputProcessorTest.php
Labels: Status: Needs Work

#134 [AIBundle] Remove security listener when missing dependencies
  src/ai-bundle/src/AIBundle.php
Labels: Bug

#131 fix(store): Change pgvector Docker image to the official up to date one
  examples/compose.yaml
Labels: Store, Examples, Status: Needs Review

#109 [Store] Add InMemory
  examples/store/memory-similarity-search.php
  src/store/doc/index.rst
  src/store/src/InMemoryStore.php
  src/store/tests/InMemoryStoreTest.php
Labels: Store, Status: Needs Work

#117 [Agent] Add basic setup for memory injections to system prompt
  examples/misc/chat-with-memory.php
  examples/store/mariadb-chat-memory.php
  src/agent/doc/index.rst
  src/agent/src/Memory/EmbeddingProvider.php
  src/agent/src/Memory/Memory.php
  src/agent/src/Memory/MemoryInputProcessor.php
  src/agent/src/Memory/MemoryProviderInterface.php
  src/agent/src/Memory/StaticMemoryProvider.php
  src/agent/tests/Memory/EmbeddingProviderTest.php
  src/agent/tests/Memory/MemoryInputProcessorTest.php
  src/agent/tests/Memory/StaticMemoryProviderTest.php
Labels: Agent, Feature, Status: Needs Work

#137 [Store][Meilisearch] Remove id, score and vectors from metadata
  examples/store/memory-similarity-search.php
  src/store/src/Bridge/Meilisearch/Store.php
  src/store/tests/Bridge/Meilisearch/StoreTest.php
Labels: Bug, Store

#144 [Platform] Add Albert API to platform CHANGELOG
  src/platform/CHANGELOG.md
Labels: Platform

#116 [Platform] Add lmstudio
  examples/.env
  examples/lmstudio/chat.php
  examples/lmstudio/image-input-binary.php
  src/ai-bundle/config/options.php
  src/ai-bundle/src/AIBundle.php
  src/ai-bundle/tests/DependencyInjection/AIBundleTest.php
  src/platform/CHANGELOG.md
  src/platform/doc/index.rst
  src/platform/src/Bridge/LMStudio/Completions.php
  src/platform/src/Bridge/LMStudio/Completions/ModelClient.php
  src/platform/src/Bridge/LMStudio/Completions/ResponseConverter.php
  src/platform/src/Bridge/LMStudio/Embeddings.php
  src/platform/src/Bridge/LMStudio/Embeddings/ModelClient.php
  src/platform/src/Bridge/LMStudio/Embeddings/ResponseConverter.php
  src/platform/src/Bridge/LMStudio/PlatformFactory.php
  src/platform/tests/Bridge/LMStudio/Completions/ModelClientTest.php
  src/platform/tests/Bridge/LMStudio/Completions/ResponseConverterTest.php
  src/platform/tests/Bridge/LMStudio/Embeddings/ModelClientTest.php
  src/platform/tests/Bridge/LMStudio/Embeddings/ResponseConverterTest.php
Labels: Platform, Status: Needs Work

#162 [Agent][Examples] Remove Toolbox::create(...)
  examples/anthropic/toolcall.php
  examples/bedrock/toolcall-claude.php
  examples/bedrock/toolcall-nova.php
  examples/google/server-tools.php
  examples/google/structured-output-clock.php
  examples/google/toolcall.php
  examples/mistral/toolcall-stream.php
  examples/mistral/toolcall.php
  examples/openai/structured-output-clock.php
  examples/openai/toolcall-stream.php
  examples/openai/toolcall.php
  examples/store/mariadb-similarity-search-gemini.php
  examples/store/mariadb-similarity-search.php
  examples/store/meilisearch-similarity-search.php
  examples/store/memory-similarity-search.php
  examples/store/mongodb-similarity-search.php
  examples/store/pinecone-similarity-search.php
  examples/store/postgres-similarity-search.php
  examples/store/qdrant-similarity-search.php
  examples/toolbox/brave.php
  examples/toolbox/serpapi.php
  examples/toolbox/tavily.php
  examples/toolbox/weather-event.php
  src/agent/CHANGELOG.md
  src/agent/src/Toolbox/Toolbox.php
  src/agent/tests/Toolbox/ToolboxTest.php
Labels: Agent, Examples, BC Break

#164 [Examples] Add example for choices
  examples/mistral/chat-multiple.php
Labels: Examples

#163 [AIBundle] Wire & configure services explicitly
  src/ai-bundle/config/options.php
  src/ai-bundle/config/services.php
  src/ai-bundle/src/AIBundle.php
  src/ai-bundle/src/Profiler/DataCollector.php
Labels: AI Bundle

#175 [AIBundle] Simplify agent-as-tool configuration
  demo/config/packages/ai.yaml
  src/ai-bundle/config/options.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/src/AIBundle.php
  src/ai-bundle/tests/DependencyInjection/AIBundleTest.php
Labels: AI Bundle, Status: Needs Work

#179 [Demo][Agent] Remove `declare(strict_types=1)`
  demo/tests/Blog/LoaderTest.php
  demo/tests/Blog/PostTest.php
  demo/tests/SmokeTest.php
  src/ai-bundle/tests/Security/IsGrantedToolAttributeListenerTest.php
Labels: Agent, Demo

#178 [Examples] Bump TransformersPHP lib to get rid off one setup error
  examples/composer.json
Labels: Examples

#184 [Agent] Add `@throws` tag
  src/agent/src/AgentInterface.php
  src/agent/src/ChatInterface.php
Labels: Agent

#190 [Store][MariaDB] Add unit tests for query method
  src/store/tests/Bridge/MariaDB/StoreTest.php
Labels: Store

#194 Fixed Typo Error on Platform documentation
  src/platform/doc/index.rst
Labels: Platform

#191 [Store] Add missing unit tests
  src/store/tests/Bridge/Azure/SearchStoreTest.php
  src/store/tests/Bridge/ChromaDB/StoreTest.php
  src/store/tests/Bridge/MongoDB/StoreTest.php
  src/store/tests/Bridge/Pinecone/StoreTest.php
  src/store/tests/Bridge/Postgres/StoreTest.php
Labels: Store

#188 [Store][InMemory] Fix cosine similarity sorting
  src/store/src/InMemoryStore.php
  src/store/tests/InMemoryStoreTest.php
Labels: Bug, Store, BC Break

#204 [Agent] Add unit tests for `Chat`
  src/agent/tests/ChatTest.php
Labels: Agent

#193 [Platform] Add `InMemoryPlatform` and `InMemoryRawResult` for testing
  src/platform/CHANGELOG.md
  src/platform/doc/index.rst
  src/platform/src/InMemoryPlatform.php
  src/platform/src/Result/InMemoryRawResult.php
  src/platform/tests/InMemoryPlatformTest.php
Labels: Platform

#212 [Demo] Remove --strict to composer validate (using @dev for now on deps)
  demo/composer.json
Labels: Demo

#183 [Store] Add Neo4j
  examples/.env
  examples/compose.yaml
  examples/rag/neo4j.php
  src/store/CHANGELOG.md
  src/store/composer.json
  src/store/doc/index.rst
  src/store/src/Bridge/Neo4j/Store.php
  src/store/tests/Bridge/Neo4j/StoreTest.php
Labels: Store, Status: Needs Work

#227 [MCP SDK][MCP Bundle] Add parameter for pagination and allow disabling pagination
  src/mcp-bundle/config/options.php
  src/mcp-bundle/config/services.php
  src/mcp-bundle/src/McpBundle.php
  src/mcp-sdk/src/Capability/Tool/CollectionInterface.php
  src/mcp-sdk/src/Capability/ToolChain.php
  src/mcp-sdk/src/Server/RequestHandler/ToolListHandler.php
Labels: BC Break

#236 [AI Bundle] Change Azure Contract to OpenAI for Whisper support
  src/ai-bundle/src/AiBundle.php
Labels: Bug, AI Bundle
