Repository symfony/ai, pull requests merged in 2025-08, with the labels that each got.

#238 [AI Bundle] Fix profiler template reference
  src/ai-bundle/src/Profiler/DataCollector.php
  src/ai-bundle/templates/data_collector.html.twig
Labels: Bug, AI Bundle

#224 [MCP SDK] Update Tool schema to match 2025-06-18 and introduce `ToolAnnotationsInterface`
  demo/src/MCP/Tools/CurrentTimeTool.php
  src/mcp-sdk/examples/cli/src/ExampleTool.php
  src/mcp-sdk/src/Capability/Tool/IdentifierInterface.php
  src/mcp-sdk/src/Capability/Tool/MetadataInterface.php
  src/mcp-sdk/src/Capability/Tool/ToolAnnotationsInterface.php
  src/mcp-sdk/src/Server/RequestHandler/ToolListHandler.php
  src/mcp-sdk/tests/Server/RequestHandler/ToolListHandlerTest.php
Labels: MCP SDK

#241 [Examples] Fix OpenAI and GPT namespaces in Neo4j RAG example
  examples/rag/neo4j.php
Labels: Bug, Examples

#243 [Store][Postgres] Add tests for custom where expression
  src/store/tests/Bridge/Postgres/StoreTest.php
Labels: Store

#249 [Examples] Fix MariaDB parallel execution
  examples/memory/mariadb.php
  examples/rag/mariadb-gemini.php
  examples/rag/mariadb-openai.php
Labels: Examples

#250 [Demo] Switch to Symfony CLI for demo
  demo/.env
  demo/README.md
  demo/compose.yaml
  demo/composer.json
  demo/config/packages/chromadb.yaml
Labels: Demo

#256 [Examples] Fix gemini server-tools example to actually use AgentProcessor
  examples/gemini/server-tools.php
Labels: Bug, Examples, Status: Reviewed

#234 [Platform] Add Ollama embeddings
  examples/ollama/embeddings.php
  src/platform/src/Bridge/Ollama/Ollama.php
  src/platform/src/Bridge/Ollama/OllamaClient.php
  src/platform/src/Bridge/Ollama/OllamaModelClient.php
  src/platform/src/Bridge/Ollama/OllamaResultConverter.php
  src/platform/src/Bridge/Ollama/PlatformFactory.php
  src/platform/tests/Bridge/Ollama/OllamaResultConverterTest.php
  src/platform/tests/Bridge/Ollama/OllamaTest.php
Labels: Platform, Status: Reviewed

#261 Use `$this` over `self::` in tests
  src/agent/tests/InputProcessor/ModelOverrideInputProcessorTest.php
  src/agent/tests/StructuredOutput/AgentProcessorTest.php
  src/agent/tests/Toolbox/AgentProcessorTest.php
  src/agent/tests/Toolbox/MetadataFactory/ChainFactoryTest.php
  src/agent/tests/Toolbox/MetadataFactory/MemoryFactoryTest.php
  src/agent/tests/Toolbox/MetadataFactory/ReflectionFactoryTest.php
  src/agent/tests/Toolbox/ToolboxTest.php
  src/ai-bundle/tests/Security/IsGrantedToolAttributeListenerTest.php
  src/platform/tests/Bridge/OpenAi/DallE/Base64ImageTest.php
  src/platform/tests/Bridge/OpenAi/DallE/UrlImageTest.php
  src/platform/tests/Bridge/OpenAi/Gpt/ResultConverterTest.php
  src/platform/tests/Contract/JsonSchema/Attribute/ToolParameterTest.php
  src/platform/tests/Message/Content/AudioTest.php
  src/platform/tests/Message/Content/BinaryTest.php
  src/platform/tests/Message/Content/ImageTest.php
  src/platform/tests/Result/BaseResultTest.php
  src/platform/tests/Result/ChoiceResultTest.php
  src/platform/tests/Result/RawResultAwareTraitTest.php
  src/platform/tests/Result/TollCallResultTest.php
  src/platform/tests/Vector/NullVectorTest.php
  src/store/tests/Bridge/Meilisearch/StoreTest.php
  src/store/tests/Bridge/Neo4j/StoreTest.php
  src/store/tests/Bridge/Qdrant/StoreTest.php
  src/store/tests/Bridge/SurrealDb/StoreTest.php
  src/store/tests/Document/Loader/TextFileLoaderTest.php
  src/store/tests/Document/Transformer/TextSplitTransformerTest.php
Labels: Status: Reviewed

#264 [Store] Sort stores in doc
  src/store/doc/index.rst
Labels: Store, Status: Needs Review

#268 [AIBundle] fix missing endpoint for Meilisearch store
  src/ai-bundle/config/options.php
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: Bug, Status: Reviewed

#266 [Platform] Add content when normalizing ollama assistant messages
  src/platform/src/Bridge/Ollama/Contract/AssistantMessageNormalizer.php
  src/platform/tests/Bridge/Ollama/Contract/AssistantMessageNormalizerTest.php
Labels: Bug, Platform, Status: Reviewed

#276 Store] Sort stores in CHANGELOG
  src/store/CHANGELOG.md
Labels: Status: Needs Review

#280 [Platform] Throw exception when ollama model information cannot be retrieved
  src/platform/src/Bridge/Ollama/OllamaClient.php
Labels: Platform, Status: Reviewed

#284 [Platform] Add Cerebras
  examples/.env
  examples/cerebras/chat.php
  examples/cerebras/stream.php
  src/ai-bundle/src/AiBundle.php
  src/platform/CHANGELOG.md
  src/platform/doc/index.rst
  src/platform/src/Bridge/Cerebras/Model.php
  src/platform/src/Bridge/Cerebras/ModelClient.php
  src/platform/src/Bridge/Cerebras/PlatformFactory.php
  src/platform/src/Bridge/Cerebras/ResultConverter.php
  src/platform/tests/Bridge/Cerebras/ModelClientTest.php
  src/platform/tests/Bridge/Cerebras/ResultConverterTest.php
Labels: Platform, Feature, Status: Reviewed

#287 [Agent] Firecrawl crawling fix
  src/agent/src/Toolbox/Tool/Firecrawl.php
Labels: Bug, Agent, Status: Reviewed

#295 [AiBundle] Fix profiler with array arguments
  src/ai-bundle/templates/data_collector.html.twig
Labels: Bug, Status: Reviewed

#281 [AIBundle] Improve injection aliases
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: Feature, Status: Reviewed

#309 Fix code style
  examples/toolbox/firecrawl-crawl.php
  examples/toolbox/firecrawl-map.php
  examples/toolbox/firecrawl-scrape.php
  fixtures/SomeStructure.php
  src/ai-bundle/tests/Security/IsGrantedToolAttributeListenerTest.php
  src/mcp-sdk/src/Message/Notification.php
  src/mcp-sdk/src/Message/Request.php
  src/mcp-sdk/src/Server/NotificationHandler/InitializedHandler.php
  src/mcp-sdk/tests/Message/FactoryTest.php
  src/platform/src/Bridge/Anthropic/Contract/DocumentNormalizer.php
  src/platform/src/Bridge/Anthropic/Contract/DocumentUrlNormalizer.php
  src/platform/src/Bridge/Anthropic/Contract/ImageNormalizer.php
  src/platform/src/Bridge/Anthropic/Contract/ImageUrlNormalizer.php
  src/platform/src/Bridge/Anthropic/Contract/MessageBagNormalizer.php
  src/platform/src/Bridge/Anthropic/Contract/ToolCallMessageNormalizer.php
  src/platform/src/Bridge/Anthropic/Contract/ToolNormalizer.php
  src/platform/src/Bridge/Bedrock/Nova/Contract/AssistantMessageNormalizer.php
  src/platform/src/Bridge/Bedrock/Nova/Contract/MessageBagNormalizer.php
  src/platform/src/Bridge/Bedrock/Nova/Contract/ToolCallMessageNormalizer.php
  src/platform/src/Bridge/Bedrock/Nova/Contract/ToolNormalizer.php
  src/platform/src/Bridge/Bedrock/Nova/Contract/UserMessageNormalizer.php
  src/platform/src/Bridge/Cerebras/Model.php
  src/platform/src/Bridge/Cerebras/ModelClient.php
  src/platform/src/Bridge/Cerebras/ResultConverter.php
  src/platform/src/Bridge/Gemini/Contract/AssistantMessageNormalizer.php
  src/platform/src/Bridge/Gemini/Contract/MessageBagNormalizer.php
  src/platform/src/Bridge/Gemini/Contract/ToolCallMessageNormalizer.php
  src/platform/src/Bridge/Gemini/Contract/ToolNormalizer.php
  src/platform/src/Bridge/Gemini/Contract/UserMessageNormalizer.php
  src/platform/src/Bridge/HuggingFace/Contract/FileNormalizer.php
  src/platform/src/Bridge/HuggingFace/Contract/MessageBagNormalizer.php
  src/platform/src/Bridge/Meta/Contract/MessageBagNormalizer.php
  src/platform/src/Bridge/Ollama/Contract/AssistantMessageNormalizer.php
  src/platform/src/Bridge/Replicate/Contract/LlamaMessageBagNormalizer.php
  src/platform/src/Contract/Normalizer/ModelContractNormalizer.php
  src/platform/tests/Bridge/Cerebras/ModelClientTest.php
  src/platform/tests/Result/BaseResultTest.php
  src/store/src/Bridge/ClickHouse/Store.php
  src/store/tests/Bridge/Postgres/StoreTest.php
Labels: Status: Needs Review

#282 [OpenAI] Add GPT 5 Models
  src/platform/src/Bridge/OpenAi/Gpt.php
Labels: Platform, Status: Needs Work

#315 [Store][Qdrant] Use the correct key for making a query
  src/store/src/Bridge/Qdrant/Store.php
Labels: Bug, Store, Status: Reviewed

#316 [Platform] Remove GPT-5 Chat model tool call capabilities
  src/platform/src/Bridge/OpenAi/Gpt.php
Labels: Bug, Platform, Status: Reviewed

#292 [Platform] Add ElevenLabs as platform
  examples/.env
  examples/.gitignore
  examples/composer.json
  examples/elevenlabs/speech-to-text.php
  examples/elevenlabs/text-to-speech.php
  src/ai-bundle/config/options.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
  src/platform/composer.json
  src/platform/src/Bridge/ElevenLabs/Contract/AudioNormalizer.php
  src/platform/src/Bridge/ElevenLabs/Contract/ElevenLabsContract.php
  src/platform/src/Bridge/ElevenLabs/ElevenLabs.php
  src/platform/src/Bridge/ElevenLabs/ElevenLabsClient.php
  src/platform/src/Bridge/ElevenLabs/ElevenLabsResultConverter.php
  src/platform/src/Bridge/ElevenLabs/PlatformFactory.php
  src/platform/src/Capability.php
  src/platform/src/Message/Content/File.php
  src/platform/tests/Bridge/ElevenLabs/Contract/ElevenLabsContractTest.php
  src/platform/tests/Bridge/ElevenLabs/ElevenLabsClientTest.php
  src/platform/tests/Bridge/ElevenLabs/ElevenLabsConverterTest.php
  src/platform/tests/Contract/Normalizer/Message/Content/AudioNormalizerTest.php
Labels: Platform, Feature, Status: Reviewed

#293 [AIBundle] Cache store configuration improved
  src/ai-bundle/config/options.php
  src/ai-bundle/doc/index.rst
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
  src/store/doc/index.rst
  src/store/src/Bridge/Local/CacheStore.php
Labels: Bug, Status: Reviewed

#319 [Examples] Filter out bootstrap files in examples runner
  examples/runner
Labels: Bug, Examples, Status: Reviewed

#314 [Store] Add Milvus
  examples/.env
  examples/compose.yaml
  examples/rag/milvus.php
  src/ai-bundle/config/options.php
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
  src/store/doc/index.rst
  src/store/src/Bridge/Milvus/Store.php
  src/store/src/DroppableStoreInterface.php
  src/store/tests/Bridge/Meilisearch/StoreTest.php
  src/store/tests/Bridge/Milvus/StoreTest.php
Labels: Store, Feature, Status: Reviewed

#288 [Store] Add a way to store document content when using Chroma DB
  src/store/src/Bridge/ChromaDb/Store.php
  src/store/src/Document/Loader/TextFileLoader.php
  src/store/src/Document/Metadata.php
  src/store/src/Document/Transformer/TextSplitTransformer.php
  src/store/tests/Bridge/ChromaDb/StoreTest.php
  src/store/tests/Document/Loader/TextFileLoaderTest.php
  src/store/tests/Document/MetadataTest.php
  src/store/tests/Document/Transformer/TextSplitTransformerTest.php
Labels: Store, Feature, Status: Reviewed

#333 Fix exceptions to use `sprintf` for string formatting
  src/mcp-sdk/src/Server/RequestHandler/PromptGetHandler.php
  src/mcp-sdk/src/Server/RequestHandler/ToolCallHandler.php
  src/platform/src/Bridge/HuggingFace/ResultConverter.php
  src/platform/src/Bridge/Mistral/Embeddings/ResultConverter.php
  src/platform/src/Bridge/Mistral/Llm/ResultConverter.php
  src/platform/src/Vector/Vector.php
  src/store/src/Bridge/ClickHouse/Store.php
  src/store/tests/Bridge/ClickHouse/StoreTest.php
Labels: Status: Needs Review

#342 [Store][ChromaDB] Add tests for query filtering
  src/store/tests/Bridge/ChromaDb/StoreTest.php
Labels: Store, Status: Needs Review

#349 Add tag for every agents
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: Feature, Status: Reviewed

#345 [Agent][Platform] Add `Metadata` to `MessageBag`
  src/agent/tests/StructuredOutput/AgentProcessorTest.php
  src/platform/src/Message/MessageBag.php
  src/platform/src/Message/MessageBagInterface.php
  src/platform/src/Metadata/Metadata.php
  src/platform/src/Metadata/MetadataAwareTrait.php
  src/platform/src/Result/BaseResult.php
  src/platform/src/Result/ResultInterface.php
  src/platform/tests/Bridge/Mistral/TokenOutputProcessorTest.php
  src/platform/tests/Bridge/OpenAi/TokenOutputProcessorTest.php
  src/platform/tests/Message/MessageBagTest.php
  src/platform/tests/Metadata/MetadataAwareTraitTest.php
  src/platform/tests/Metadata/MetadataTest.php
  src/platform/tests/Result/BaseResultTest.php
  src/platform/tests/Result/ResultPromiseTest.php
Labels: Platform, Agent, Feature, Status: Reviewed

#350 Remove MessageBagInterface
  src/agent/src/Agent.php
  src/agent/src/AgentInterface.php
  src/agent/src/Chat.php
  src/agent/src/Chat/MessageStore/CacheStore.php
  src/agent/src/Chat/MessageStore/InMemoryStore.php
  src/agent/src/Chat/MessageStore/SessionStore.php
  src/agent/src/Chat/MessageStoreInterface.php
  src/agent/src/ChatInterface.php
  src/agent/src/Input.php
  src/agent/src/Output.php
  src/agent/tests/ChatTest.php
  src/platform/src/Bridge/Anthropic/Contract/MessageBagNormalizer.php
  src/platform/src/Bridge/Bedrock/Nova/Contract/MessageBagNormalizer.php
  src/platform/src/Bridge/Gemini/Contract/MessageBagNormalizer.php
  src/platform/src/Bridge/HuggingFace/Contract/MessageBagNormalizer.php
  src/platform/src/Bridge/Meta/Contract/MessageBagNormalizer.php
  src/platform/src/Bridge/Meta/LlamaPromptConverter.php
  src/platform/src/Bridge/Replicate/Contract/LlamaMessageBagNormalizer.php
  src/platform/src/Contract/Normalizer/Message/MessageBagNormalizer.php
  src/platform/src/Message/MessageBag.php
  src/platform/src/Message/MessageBagInterface.php
  src/platform/tests/Bridge/Gemini/Contract/MessageBagNormalizerTest.php
  src/platform/tests/Bridge/Mistral/TokenOutputProcessorTest.php
  src/platform/tests/Bridge/OpenAi/TokenOutputProcessorTest.php
  src/platform/tests/Contract/Normalizer/Message/MessageBagNormalizerTest.php
Labels: Status: Reviewed, BC Break

#348 [Agent] Expose Agent model
  src/agent/src/Agent.php
  src/agent/tests/AgentTest.php
Labels: Agent, Feature, Status: Reviewed

#354 [AI Bundle] Fix indentation
  src/ai-bundle/config/options.php
Labels: AI Bundle, Status: Needs Review

#358 [AIBundle] Fix single agent alias
  src/ai-bundle/src/AiBundle.php
  src/ai-bundle/tests/DependencyInjection/AiBundleTest.php
Labels: Bug, Status: Reviewed

#366 [Store][ClickHouse] Make store `final readonly`
  src/store/src/Bridge/ClickHouse/Store.php
Labels: Store, Feature, Status: Needs Review

#368 Update GitHub Actions checkout to v5
  .github/workflows/code-quality.yaml
  .github/workflows/doctor-rst.yaml
  .github/workflows/unit-tests.yaml
Labels: Status: Needs Review

#339 [Platform][Ollama] Support streaming output
  examples/ollama/stream.php
  src/platform/CHANGELOG.md
  src/platform/src/Bridge/Ollama/OllamaMessageChunk.php
  src/platform/src/Bridge/Ollama/OllamaResultConverter.php
  src/platform/tests/Bridge/Ollama/OllamaClientTest.php
Labels: Bug, Platform, Feature, Status: Reviewed

#360 [Platform][Voyage] Include all returned vectors rather than just the first
  src/platform/src/Bridge/Voyage/ResultConverter.php
  src/platform/tests/Bridge/Voyage/ResultConverterTest.php
Labels: Bug, Platform, Status: Reviewed

#324 [Platform] Add stream for ElevenLabs TTS
  examples/elevenlabs/text-to-speech-as-stream.php
  src/platform/src/Bridge/ElevenLabs/ElevenLabsClient.php
  src/platform/src/Bridge/ElevenLabs/ElevenLabsResultConverter.php
  src/platform/src/Bridge/ElevenLabs/PlatformFactory.php
  src/platform/tests/Bridge/ElevenLabs/ElevenLabsClientTest.php
  src/platform/tests/Bridge/ElevenLabs/ElevenLabsConverterTest.php
Labels: Platform, Feature, Status: Reviewed

#374 [Examples] Fix environment variables
  examples/compose.yaml
Labels: Bug, Examples, Status: Needs Review

#377 [Examples][Milvus] Fix RAG example
  examples/rag/milvus.php
Labels: Bug, Examples, Status: Needs Review

#380 [Examples] Use `getmeili/meilisearch:v1.19`
  examples/compose.yaml
Labels: Examples, Status: Needs Review

#381 [Examples] Add `ChromaDB` to `compose.yaml`
  examples/compose.yaml
Labels: Examples, Feature, Status: Needs Review

#369 [AI Bundle][Platform] Fix Anthropic platform definition
  src/ai-bundle/src/AiBundle.php
  src/platform/src/Bridge/Anthropic/ModelClient.php
  src/platform/src/Bridge/Anthropic/PlatformFactory.php
  src/platform/tests/Bridge/Anthropic/ModelClientTest.php
Labels: Bug, Platform, AI Bundle, Status: Needs Review

#383 [Examples] Add `MongoDB` to `compose.yaml`
  examples/compose.yaml
Labels: Examples, Feature, Status: Needs Review

#385 [Examples] Add example for RAG with ChromaDB
  examples/.env
  examples/compose.yaml
  examples/composer.json
  examples/rag/chromadb.php
Labels: Examples, Status: Reviewed

#387 [Platform] Fix VertexAI server tools
  examples/vertexai/server-tools.php
  src/platform/doc/vertexai-server-tools.rst
  src/platform/src/Bridge/VertexAi/Gemini/ModelClient.php
  src/platform/tests/Bridge/VertexAi/Gemini/ModelClientTest.php
Labels: Bug, Platform, Status: Reviewed

#384 [Platform] Fix doc type on FileNormalizer
  src/platform/src/Bridge/OpenAi/Contract/FileNormalizer.php
Labels: Platform, Status: Reviewed

#373 [AI Bundle][OpenAI] Register normalizer contract
  src/ai-bundle/config/services.php
Labels: Bug, AI Bundle, Status: Reviewed
